.hub_page_content_nav{
  margin: 10px;

  .hub_page_content_nav_button{
    width: auto;
    height: 29px;
    gap: 8px;
    padding: 6px 10px;
    font-size: 1rem;
    margin: 5px;
    color: white;
    background-color: grey;
    &.hub_page_content_nav_button_active {
      background-color: #4f4f4f;
    }
  }

}
.hub_page_content_content_button{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 210px;
  height: 42px;
  color: white;
  background-color: #6d6d6d;

}