.CardHub_container{
  background-color: #a7a6a6;
  height: 150px;
  margin: 25px;
  display: flex;
  color: white;
  flex-direction: column;
  .CardHub_container_titre{
    padding: 1px 15px;
    font-weight: bold;
  }
  .CardHub_container_responsable{
    padding: 0 15px;
  }
  .CardHub_container_footer{
    background-color: #929292;
    display: flex;
    justify-content: space-between;
    padding: 1px 15px;
    color: #333333;
    .CardHub_container_footer_class{
      font-weight: bold;
    }
  }
}