.cardNewPub_container_card{
  background-color: #b9b9b9;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 0;
  .cardNewPub_container_card_div{
    margin: 10px;
  }
.cardNewPub_container_card_div_title{
  font-weight: bold;
  padding: 0;
  color: black;
  margin-bottom: 5px;

}
}
